<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="e0685ecb-9641-4dd2-9b2f-3862ef1a346f" Version="1.0.0.0" Publisher="CN=stamo_000" />
  <Properties>
    <DisplayName>Currencies</DisplayName>
    <PublisherDisplayName>Stamo Petkov</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Currencies" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Currency rates for 164 world currencies, updated daily. Historical data available. Currency calculator. Export rates through share contract or file picker." ForegroundText="light" BackgroundColor="#0887A7">
        <DefaultTile ShowName="allLogos" ShortName="Currencies" WideLogo="images\WideLogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#0887A7" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>